
<h1 class="display-4 text-primary">商品一覧ページ</h1>
<p><%= @msg %></p>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-3 border" >
        <div class="card" style="width: 100%;", >
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= product.price %></h6>
            <p class="card-text"><%= product.evaluation %></p>
            <%# <p><%= link_to '詳細はこちらから', product_path(product.id) %>
            <p><%= link_to '詳細はこちら', product_path(product.id), method: :get, local: true %></p>
            <p><%= link_to '編集はこちら', edit_product_path(product.id), method: :put, local: true %></p>
            <p><%= link_to '削除', "/products/#{product.id}" , method: :delete, local: true %></p> 
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<p><%= link_to '新規登録はこちらから', new_product_path, class: "btn btn-primary" %></p>




<%# <table class ="table mt-5 mb-5">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Evaluation</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <%# <tr>
        <td><%= product.name</td> %>
        <%# <td><%= product.price</td>  %>
        <%# <td><%= product.evaluation</td> %> 
      <%# </tr> %>
    <%# <% end %>
  <%# </tbody> %>
<%# </table>  %>

<%# <button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-warning">Warning</button> %>