
<h1 class="display-4 text-primary">マイリスト一覧</h1>

<tr><th>合計金額：</th></tr>
<tr><td><%= number_to_currency(@total_price, unit: "¥", precision: 0) %></td></tr>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-3 border" >
        <div class="card" style="width: 100%;", >
          <div class="card-body">
            <h5 class="card-title"><label>商品名：</label><%= product.name %></h5>
            <%# <h6 class="card-subtitle mb-2 text-muted"><label>価格：</label><%= product.price %>
            <h6 class="card-subtitle mb-2 text-muted"><label>価格：</label><%= number_to_currency(product.price, unit: "¥", precision: 0) %></h6>
            <p class = "star-eva"><%= if product.evaluation == 1
                "★☆☆☆☆"
              elsif product.evaluation == 2
                "★★☆☆☆"
              elsif product.evaluation == 3
                "★★★☆☆"
              elsif product.evaluation == 4
                "★★★★☆"
              else product.evaluation == 5
                "★★★★★"
              end %></p>
            <%# <p class="card-text"><label>評価：</label><%= product.evaluation %>
            <%# <p><%= link_to '詳細はこちらから', product_path(product.id) %>
            <p><%= link_to 'マイリスト詳細', product_path(product), method: :get, local: true %></p>
            <p><%= link_to 'マイリスト編集', edit_product_path(id: product.id, sugie: "sugie"), method: :get, local: true %></p>
            <p><%= link_to '削除', product_path(product.id), method: :delete, local: true %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<p><%= link_to '予測画面(仮)', products_predict_path, class: "btn btn-success" %></p> 
<p><%= link_to 'マイリストに追加', new_product_path, class: "btn btn-primary" %></p>
<% if user_signed_in? %>
  <p><%= link_to 'サインアウト', destroy_user_session_path, method: :delete %></p>
<% end %>